VITE_OAUTH_REDIRECT_URL="https://cri.epita.fr/"
VITE_API_BASE_URL="http://localhost:3000/"
VITE_WS_BASE_URL=""
NOCLIP_FRONTEND_URL="http://localhost:8000"
VITE_GAME_SERVICE_URL="http://localhost:8082"
VITE_LOBBY_SERVICE_URL="http://localhost:8083"
VITE_SCORING_SERVICE_URL="http://localhost:8084"
VITE_LEADERBOARD_SERVICE_URL="http://localhost:8085"