# ── Java / Maven ──────────────────────────────────────────────────────────
target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# ── Spring Boot ───────────────────────────────────────────────────────────
spring-shell.log

# ── IDE — IntelliJ IDEA ───────────────────────────────────────────────────
.idea/
*.iws
*.iml
*.ipr
out/

# ── IDE — VS Code ─────────────────────────────────────────────────────────
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ── IDE — Neovim  ─────────────────────────────────────────────────────────
.nvim.lua
mise.local.toml
**/*.settings
**/*.classpath
**/*.factorypath
**/*.project

# ── OS ────────────────────────────────────────────────────────────────────
.DS_Store
.DS_Store?
._*


# ── Environment / secrets ─────────────────────────────────────────────────
.env
.env.*
!.env.example
!.env.local

# ── Logs ──────────────────────────────────────────────────────────────────
logs/
*.log
*.log.*

# ── Node ───────────────────────────────────────
node_modules/
dist/
.next/
.nuxt/

# ── Terraform ─────────────────────────────────────────────────────────────
infra/terraform/.terraform
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfvars
infra/terraform/backend.hcl

# ── Kubernetes / Helm ─────────────────────────────────────────────────────
infra/k8s/**/charts/

# ── Misc ──────────────────────────────────────────────────────────────────
*.swp
*.swo
*~
